$translateY: 20px;

.input {
  position: relative;
  border: 1px solid map-get($colours, "border");
  border-radius: 10px;
  margin-top: calc($translateY - 20px);
  background: white;
  display: flex;
  align-items: center;
  height: 35px;
  padding: 5px;

  label {
    position: absolute;
    left: 9px;
    bottom: 10px;
    padding: 2px 5px;
    transition: all 0.3s ease;
    background: transparent;
    z-index: 1;
    background: white;
  }

  input {
    padding-left: 5px;
  }

  input,
  select,
  &-input {
    color: map-get($colours, "grey-darken-2");
    background: transparent;
    width: 100%;
    border: 0;
    z-index: 2;
    font-size: 12px;
    text-indent: 3px;

    &:focus {
      outline: none;
    }
  }

  &-icon {
    padding-left: 10px;
    align-items: center;
  }

  &-active,
  &-populated {
    label {
      transform-origin: left;
      transform: scale(0.75) translateY(-$translateY);
    }
  }
}
