* {
  box-sizing: border-box;
}

body {
  font-family: "Montserrat Alternates", sans-serif;
}

ion-header {
  box-shadow: none !important;
}

ion-modal {
  &::part(content) {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
}

.text {
  &-center {
    text-align: center;
  }

  &-fw {
    &-600 {
      font-weight: 600;
    }
  }

  &-transform {
    &-capitalize {
      text-transform: capitalize;
    }
  }

  &-underline {
    text-decoration: underline;
  }

  &-ellipsis {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

    @for $i from 2 through 5 {
      &-#{$i} {
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: $i;
        line-clamp: $i;
        -webkit-box-orient: vertical;
      }
    }
  }
}

.ios {
  .safe-area {
    &-top {
      padding-top: var(--ion-safe-area-top) !important;
    }

    &-bottom {
      padding-bottom: var(--ion-safe-area-bottom) !important;
    }
  }
}

.hover {
  cursor: pointer;

  &:hover {
    opacity: 0.7;
  }
}

.flex-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

h1,
h2,
h3,
h4 {
  font-weight: 600;
}

h1 {
  font-size: 18px;
}

h2 {
  font-size: 16px;
}

h3 {
  font-size: 14px;
}

h4 {
  font-size: 12px;
}

h1,
h2,
h3,
h4,
p,
li,
a {
  margin: 0;
  color: map-get($colours, "grey-darken-2");
}

p,
label,
li,
button,
a {
  font-size: 12px;
}

a {
  text-decoration: none;
}

.divider {
  background: map-get($colours, "divider");
  width: 100%;
  height: 2px;
  margin: 10px 0;
}

.disabled {
  opacity: 0.4;
  cursor: not-allowed !important;
  pointer-events: none !important;
}

.center {
  @include center;

  &-horizontal {
    @include center(true, false);
  }

  &-vertical {
    @include center(false, true);
  }
}

@each $prop,
  $abbrev in (color: text-, background-color: bg-, border-color: border-)
{
  @each $name, $colour in $colours {
    .#{$abbrev}#{$name} {
      #{$prop}: #{$colour} !important;
    }
  }
}

@each $name, $colour in $colours {
  .icon {
    &-#{$name} {
      path {
        fill: #{$colour};
      }
    }

    &-stroke-#{$name} {
      path,
      circle {
        stroke: #{$colour};
      }
    }
  }
}
